body {
  margin: unset;
}

.session-thumbnail {
  width: 300px;
  min-height: 170px;
  object-fit: cover;

  padding: 4px;

  border-radius: 16px;

  @media only screen and (max-width: 900px) {
    width: 100%;
  }
}
